---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Learn more about Aryan Randeriya"
  pubDate={new Date("September 17 2025")}
  heroImage={AboutHeroImage}
>
  <p>
    Hi! I'm Aryan Randeriya, a passionate developer and blogger. Welcome to my
    personal blog where I share my thoughts, experiences, and insights about
    technology, development, and life.
  </p>

  <p>You can find me on various platforms:</p>

  <ul>
    <li>
      <strong>Website:</strong>
      <a href="https://aryanranderiya.com" target="_blank"
        >aryanranderiya.com</a>
    </li>
    <li>
      <strong>Twitter:</strong>
      <a href="https://twitter.com/aryanranderiya" target="_blank"
        >@aryanranderiya</a>
    </li>
    <li>
      <strong>GitHub:</strong>
      <a href="https://github.com/aryanranderiya/blog" target="_blank"
        >github.com/aryanranderiya/blog</a>
    </li>
  </ul>

  <p>
    This blog is built with Astro and serves as a place where I document my
    learning journey, share tutorials, and discuss various topics that interest
    me. Feel free to explore the posts and reach out if you have any questions
    or just want to connect!
  </p>
</Layout>
