---
import { Input } from "@/components/ui/input.tsx";
import { RaisedButton } from "@/components/ui/raised-button";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import MainLayout from "../layouts/MainLayout.astro";
import BlogPostCard from "@/components/BlogPostCard.astro";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  )
  .slice(0, 5);
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="text-foreground/60 text-xl">
    <div class="space-y-6 mb-6 px-3">
      <h1 class="text-5xl font-black text-foreground tracking-tighter">
        hi i'm aryan.
      </h1>
      <p class="lowercase">
        I'm a software developer and designer who just really loves to build
        things. I'm currently working on my own startup (a pretty cool personal
        assistant) called <a href="https://heygaia.io/" class="anchor">GAIA</a>.
        <br />
        <br />

        Here is where i post random thoughts about tech, my life and everything
        in between. You can know more about me on my <a
          href="https://twitter.com/aryanranderiya"
          class="anchor">twitter</a
        > and <a href="https://aryanranderiya.com/" class="anchor">website</a>.

        <br />
        <br />

        You can signup to my newsletter to stay updated with my latest posts:
      </p>

      <div class="flex items-center gap-2">
        <Input
          placeholder="youremail@gmail.com"
          className="placeholder:text-foreground/30"
          required
        />

        <RaisedButton color="#0091ff" className="text-base px-10">
          let's gooo
        </RaisedButton>
      </div>

      p.s. if you wanna get in touch with me feel free to reach out at

      <a href="mailto:aryan@heygaia.io" class="anchor">aryan@heygaia.io</a>.
      <br />
      <br />
      i try to respond to every email i get! (unless it's spam)
      <br />
      <br />
      here are my most recent posts:
    </div>

    <section class="my-5" aria-label="Recent blog posts">
      <div class="flex border-separate flex-col divide-zinc-700 divide">
        {posts.map((post) => <BlogPostCard post={post} variant="compact" />)}
      </div>
    </section>

    <div class="mx-auto w-full flex justify-center">
      <a href="/posts" class="w-full" data-astro-prefetch="hover">
        <RaisedButton color="#242424" className="w-full text-base">
          view all posts
        </RaisedButton>
      </a>
    </div>
  </div>
</MainLayout>
